OnlineLibaryFrontServer/src/conf/xml-resources/web-service-references/BusinessLogic/wsdl/localhost_80/OnlineLibaryBackServer/BusinessLogic.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://businessLogicWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://businessLogicWS/" name="BusinessLogic">
<types>
<xsd:schema>
<xsd:import namespace="http://businessLogicWS/" schemaLocation="http://localhost:80/OnlineLibaryBackServer/BusinessLogic?xsd=1" />
</xsd:schema>
</types>
<message name="registry">
<part name="parameters" element="tns:registry" />
</message>
<message name="registryResponse">
<part name="parameters" element="tns:registryResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="updateSection">
<part name="parameters" element="tns:updateSection" />
</message>
<message name="updateSectionResponse">
<part name="parameters" element="tns:updateSectionResponse" />
</message>
<message name="getAllBooks">
<part name="parameters" element="tns:getAllBooks" />
</message>
<message name="getAllBooksResponse">
<part name="parameters" element="tns:getAllBooksResponse" />
</message>
<message name="getBookById">
<part name="parameters" element="tns:getBookById" />
</message>
<message name="getBookByIdResponse">
<part name="parameters" element="tns:getBookByIdResponse" />
</message>
<message name="addComment">
<part name="parameters" element="tns:addComment" />
</message>
<message name="addCommentResponse">
<part name="parameters" element="tns:addCommentResponse" />
</message>
<message name="addSection">
<part name="parameters" element="tns:addSection" />
</message>
<message name="addSectionResponse">
<part name="parameters" element="tns:addSectionResponse" />
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById" />
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse" />
</message>
<message name="getAllSections">
<part name="parameters" element="tns:getAllSections" />
</message>
<message name="getAllSectionsResponse">
<part name="parameters" element="tns:getAllSectionsResponse" />
</message>
<message name="addRating">
<part name="parameters" element="tns:addRating" />
</message>
<message name="addRatingResponse">
<part name="parameters" element="tns:addRatingResponse" />
</message>
<message name="addPurchase">
<part name="parameters" element="tns:addPurchase" />
</message>
<message name="addPurchaseResponse">
<part name="parameters" element="tns:addPurchaseResponse" />
</message>
<message name="getSectionById">
<part name="parameters" element="tns:getSectionById" />
</message>
<message name="getSectionByIdResponse">
<part name="parameters" element="tns:getSectionByIdResponse" />
</message>
<message name="deleteBook">
<part name="parameters" element="tns:deleteBook" />
</message>
<message name="deleteBookResponse">
<part name="parameters" element="tns:deleteBookResponse" />
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook" />
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse" />
</message>
<message name="deleteSection">
<part name="parameters" element="tns:deleteSection" />
</message>
<message name="deleteSectionResponse">
<part name="parameters" element="tns:deleteSectionResponse" />
</message>
<message name="updateBook">
<part name="parameters" element="tns:updateBook" />
</message>
<message name="updateBookResponse">
<part name="parameters" element="tns:updateBookResponse" />
</message>
<message name="getRatingsByUser">
<part name="parameters" element="tns:getRatingsByUser" />
</message>
<message name="getRatingsByUserResponse">
<part name="parameters" element="tns:getRatingsByUserResponse" />
</message>
<message name="getBooksByKeyword">
<part name="parameters" element="tns:getBooksByKeyword" />
</message>
<message name="getBooksByKeywordResponse">
<part name="parameters" element="tns:getBooksByKeywordResponse" />
</message>
<message name="getAverageRatingByBook">
<part name="parameters" element="tns:getAverageRatingByBook" />
</message>
<message name="getAverageRatingByBookResponse">
<part name="parameters" element="tns:getAverageRatingByBookResponse" />
</message>
<message name="getTopBooksByRating">
<part name="parameters" element="tns:getTopBooksByRating" />
</message>
<message name="getTopBooksByRatingResponse">
<part name="parameters" element="tns:getTopBooksByRatingResponse" />
</message>
<message name="getTopBooksByComment">
<part name="parameters" element="tns:getTopBooksByComment" />
</message>
<message name="getTopBooksByCommentResponse">
<part name="parameters" element="tns:getTopBooksByCommentResponse" />
</message>
<message name="getCommentsByUser">
<part name="parameters" element="tns:getCommentsByUser" />
</message>
<message name="getCommentsByUserResponse">
<part name="parameters" element="tns:getCommentsByUserResponse" />
</message>
<message name="getPurchasesByUser">
<part name="parameters" element="tns:getPurchasesByUser" />
</message>
<message name="getPurchasesByUserResponse">
<part name="parameters" element="tns:getPurchasesByUserResponse" />
</message>
<message name="getBooksBySection">
<part name="parameters" element="tns:getBooksBySection" />
</message>
<message name="getBooksBySectionResponse">
<part name="parameters" element="tns:getBooksBySectionResponse" />
</message>
<message name="getCommentsByBook">
<part name="parameters" element="tns:getCommentsByBook" />
</message>
<message name="getCommentsByBookResponse">
<part name="parameters" element="tns:getCommentsByBookResponse" />
</message>
<message name="getPurchasesByBook">
<part name="parameters" element="tns:getPurchasesByBook" />
</message>
<message name="getPurchasesByBookResponse">
<part name="parameters" element="tns:getPurchasesByBookResponse" />
</message>
<message name="getPurchasesByPriceChart">
<part name="parameters" element="tns:getPurchasesByPriceChart" />
</message>
<message name="getPurchasesByPriceChartResponse">
<part name="parameters" element="tns:getPurchasesByPriceChartResponse" />
</message>
<message name="getTopBooksByPurchases">
<part name="parameters" element="tns:getTopBooksByPurchases" />
</message>
<message name="getTopBooksByPurchasesResponse">
<part name="parameters" element="tns:getTopBooksByPurchasesResponse" />
</message>
<message name="getPurchasesBySectionChart">
<part name="parameters" element="tns:getPurchasesBySectionChart" />
</message>
<message name="getPurchasesBySectionChartResponse">
<part name="parameters" element="tns:getPurchasesBySectionChartResponse" />
</message>
<portType name="BusinessLogic">
<operation name="registry">
<input wsam:Action="http://businessLogicWS/BusinessLogic/registryRequest" message="tns:registry" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/registryResponse" message="tns:registryResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://businessLogicWS/BusinessLogic/loginRequest" message="tns:login" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="updateSection">
<input wsam:Action="http://businessLogicWS/BusinessLogic/updateSectionRequest" message="tns:updateSection" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/updateSectionResponse" message="tns:updateSectionResponse" />
</operation>
<operation name="getAllBooks">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getAllBooksRequest" message="tns:getAllBooks" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getAllBooksResponse" message="tns:getAllBooksResponse" />
</operation>
<operation name="getBookById">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getBookByIdRequest" message="tns:getBookById" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getBookByIdResponse" message="tns:getBookByIdResponse" />
</operation>
<operation name="addComment">
<input wsam:Action="http://businessLogicWS/BusinessLogic/addCommentRequest" message="tns:addComment" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/addCommentResponse" message="tns:addCommentResponse" />
</operation>
<operation name="addSection">
<input wsam:Action="http://businessLogicWS/BusinessLogic/addSectionRequest" message="tns:addSection" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/addSectionResponse" message="tns:addSectionResponse" />
</operation>
<operation name="getUserById">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getUserByIdRequest" message="tns:getUserById" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getUserByIdResponse" message="tns:getUserByIdResponse" />
</operation>
<operation name="getAllSections">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getAllSectionsRequest" message="tns:getAllSections" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getAllSectionsResponse" message="tns:getAllSectionsResponse" />
</operation>
<operation name="addRating">
<input wsam:Action="http://businessLogicWS/BusinessLogic/addRatingRequest" message="tns:addRating" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/addRatingResponse" message="tns:addRatingResponse" />
</operation>
<operation name="addPurchase">
<input wsam:Action="http://businessLogicWS/BusinessLogic/addPurchaseRequest" message="tns:addPurchase" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/addPurchaseResponse" message="tns:addPurchaseResponse" />
</operation>
<operation name="getSectionById">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getSectionByIdRequest" message="tns:getSectionById" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getSectionByIdResponse" message="tns:getSectionByIdResponse" />
</operation>
<operation name="deleteBook">
<input wsam:Action="http://businessLogicWS/BusinessLogic/deleteBookRequest" message="tns:deleteBook" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/deleteBookResponse" message="tns:deleteBookResponse" />
</operation>
<operation name="addBook">
<input wsam:Action="http://businessLogicWS/BusinessLogic/addBookRequest" message="tns:addBook" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/addBookResponse" message="tns:addBookResponse" />
</operation>
<operation name="deleteSection">
<input wsam:Action="http://businessLogicWS/BusinessLogic/deleteSectionRequest" message="tns:deleteSection" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/deleteSectionResponse" message="tns:deleteSectionResponse" />
</operation>
<operation name="updateBook">
<input wsam:Action="http://businessLogicWS/BusinessLogic/updateBookRequest" message="tns:updateBook" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/updateBookResponse" message="tns:updateBookResponse" />
</operation>
<operation name="getRatingsByUser">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getRatingsByUserRequest" message="tns:getRatingsByUser" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getRatingsByUserResponse" message="tns:getRatingsByUserResponse" />
</operation>
<operation name="getBooksByKeyword">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getBooksByKeywordRequest" message="tns:getBooksByKeyword" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getBooksByKeywordResponse" message="tns:getBooksByKeywordResponse" />
</operation>
<operation name="getAverageRatingByBook">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getAverageRatingByBookRequest" message="tns:getAverageRatingByBook" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getAverageRatingByBookResponse" message="tns:getAverageRatingByBookResponse" />
</operation>
<operation name="getTopBooksByRating">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getTopBooksByRatingRequest" message="tns:getTopBooksByRating" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getTopBooksByRatingResponse" message="tns:getTopBooksByRatingResponse" />
</operation>
<operation name="getTopBooksByComment">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getTopBooksByCommentRequest" message="tns:getTopBooksByComment" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getTopBooksByCommentResponse" message="tns:getTopBooksByCommentResponse" />
</operation>
<operation name="getCommentsByUser">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getCommentsByUserRequest" message="tns:getCommentsByUser" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getCommentsByUserResponse" message="tns:getCommentsByUserResponse" />
</operation>
<operation name="getPurchasesByUser">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getPurchasesByUserRequest" message="tns:getPurchasesByUser" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getPurchasesByUserResponse" message="tns:getPurchasesByUserResponse" />
</operation>
<operation name="getBooksBySection">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getBooksBySectionRequest" message="tns:getBooksBySection" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getBooksBySectionResponse" message="tns:getBooksBySectionResponse" />
</operation>
<operation name="getCommentsByBook">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getCommentsByBookRequest" message="tns:getCommentsByBook" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getCommentsByBookResponse" message="tns:getCommentsByBookResponse" />
</operation>
<operation name="getPurchasesByBook">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getPurchasesByBookRequest" message="tns:getPurchasesByBook" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getPurchasesByBookResponse" message="tns:getPurchasesByBookResponse" />
</operation>
<operation name="getPurchasesByPriceChart">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getPurchasesByPriceChartRequest" message="tns:getPurchasesByPriceChart" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getPurchasesByPriceChartResponse" message="tns:getPurchasesByPriceChartResponse" />
</operation>
<operation name="getTopBooksByPurchases">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getTopBooksByPurchasesRequest" message="tns:getTopBooksByPurchases" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getTopBooksByPurchasesResponse" message="tns:getTopBooksByPurchasesResponse" />
</operation>
<operation name="getPurchasesBySectionChart">
<input wsam:Action="http://businessLogicWS/BusinessLogic/getPurchasesBySectionChartRequest" message="tns:getPurchasesBySectionChart" />
<output wsam:Action="http://businessLogicWS/BusinessLogic/getPurchasesBySectionChartResponse" message="tns:getPurchasesBySectionChartResponse" />
</operation>
</portType>
<binding name="BusinessLogicPortBinding" type="tns:BusinessLogic">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="registry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateSection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllBooks">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getBookById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addComment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addSection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllSections">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addRating">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addPurchase">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSectionById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteBook">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteSection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateBook">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRatingsByUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getBooksByKeyword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAverageRatingByBook">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTopBooksByRating">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTopBooksByComment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCommentsByUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPurchasesByUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getBooksBySection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCommentsByBook">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPurchasesByBook">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPurchasesByPriceChart">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTopBooksByPurchases">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPurchasesBySectionChart">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BusinessLogic">
<port name="BusinessLogicPort" binding="tns:BusinessLogicPortBinding">
<soap:address location="http://localhost:80/OnlineLibaryBackServer/BusinessLogic" />
</port>
</service>
</definitions>